<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<!-- configuration file for LogBack (slf4J implementation)
See here for more details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration scan="true" scanPeriod="30 seconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
            	[%d{yyyy-MM-dd HH:mm:ss}] %-5level %logger{0} - %msg%n
            </pattern>
        </encoder>
    </appender>
    
<!--     파일로 로그를 남김 -->
<!--     <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
<!--              <file>C:\Users\seyoung\Desktop\workspace\test.log</file> -->
<!--              <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> -->
<!--                       <Pattern> -->
<!--                               %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{5} - %msg%n -->
<!--                       </Pattern> -->
<!--              </encoder> -->

<!--              로그를 남기는 파일의 용량이 10KB가 넘으면 이를 압축 파일로 만들고 새로 로그 파일로 만들라는 정책 -->
<!--              <triggeringPolicy -->
<!--                       class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"> -->
<!--                       <MaxFileSize>10KB</MaxFileSize> -->
<!--              </triggeringPolicy> -->

<!--              파일을 덮어쓰는 정책 -->
<!--              <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy"> -->
<!--                       <FileNamePattern>C:\Users\seyoung\Desktop\workspace\test.%i.log.zip</FileNamePattern> -->
                     
<!--                           MinIndex가 1이고, MaxIndex가 10이므로, 위의 파일 이름 패턴에 따라 아래의 로그 파일이 생길 것이다. -->
<!--                           logexample2.1.log.zip   logexample2.2.log.zip  .... logexample2.10.log.zip -->
<!--                           이 상태에서 또 10KB가 넘으면 logexample2.1.log.zip이 된다. -->
<!--                       <MinIndex>1</MinIndex> -->
<!--                       <MaxIndex>10</MaxIndex> -->
<!--              </rollingPolicy> -->
<!--     </appender> -->

    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>
