/*encoding*/
@charset "UTF-8";
/*
*{
	border: 1px solid #ccc;
}
*/

.bd_solid_gray1{border-style: solid; border-color: #ABB2B9; font-size: 16px;}

a{
	text-decoration:none; color:black;
}

.t_align_left{
	text-align:left;
}

.blank50{margin-top:50;}
.blank100{margin-top:100;}
.blank200{margin-top:200;}


input[type=number]::-webkit-outer-spin-button,
            input[type=number]::-webkit-inner-spin-button{-webkit-appearance: none;}

.w100{ width : 100%; }
.w90{ width : 90%; }
.w80{ width : 80%; }
.w70{ width : 70%; }
.w60{ width : 60%; }
.w50{ width : 50%; }
.w40{ width : 40%; }
.w30{ width : 30%; }
.w20{ width : 20%; }
.w10{ width : 10%; }

.menu50px{
	list-style: none; height: 50px; line-height: 50px;
	font-size:0; text-align:center;  width:100%; border:1;
}
.menu50px > li{
	display:inline-block; text-align:center; border-style:solid; border-width:1px;
}

.menu150px{
	list-style: none; height: 150px; line-height: 150px;
	font-size:0; text-align:center; width:100%; padding-inline-start:0;
}

menu150px > li{
	display:inline-block; text-align:center; border-style:solid; border-width:1px;
}

.button{
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input{
    padding: 8px 2px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit], input[type=reset], input[type=button]{
    background-color: #45454f;
    color: white;
    padding: 4px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}